*.class
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

!**/lib/ngp-core.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Various trash IDEA and SBT create
.idea/
# 2017-onell-3cnf
/2017-onell-3cnf/out/
/2017-onell-3cnf/project/project/
/2017-onell-3cnf/project/target/
/2017-onell-3cnf/target/
# 2018-cma-es
/2018-cma-es/out/
/2018-cma-es/project/project/
/2018-cma-es/project/target/
/2018-cma-es/target/
